{% if matches|length > 0 %}
<hr>
<h3 class="text-center">How many times have each been used in my matches?</h3>
<table class="table table-striped .table-hover .table-bordered">     
    <thead>
        <th>Who</th>
        <th><i style="font-size: 20px;" title="ROCK" class="user-rock-icon fa fa-hand-rock-o fa-flip-horizontal"></i></th>
        <th><i style="font-size: 20px;"  title="PAPER" class="user-paper-icon fa fa-hand-paper-o fa-flip-horizontal"></i></th>
        <th><i style="font-size: 20px;"  title="SCISSORS" class="user-scissors-icon fa fa-hand-scissors-o fa-flip-horizontal"></i></th>
        <th><i style="font-size: 20px;"  title="LIZARD" class="user-lizard-icon fa fa-hand-lizard-o fa-flip-horizontal"></i></th>
        <th><i style="font-size: 20px;"  title="SPOCK" class="user-spock-icon fa fa-hand-spock-o fa-flip-horizontal"></i></th>
    </thead> 
    <tbody>    
        <tr>
            <td>YOU</td>
            <td>{{ stats['you_rock'] }}</td>
            <td>{{ stats['you_paper'] }}</td>
            <td>{{ stats['you_scissors'] }}</em></td>
            <td>{{ stats['you_lizard'] }}</td>
            <td>{{ stats['you_spock'] }}</td>
        </tr>
        <tr>
            <td>COMPUTER</td>
            <td>{{ stats['comp_rock'] }}</td>
            <td>{{ stats['comp_paper'] }}</td>
            <td>{{ stats['comp_scissors'] }}</em></td>
            <td>{{ stats['comp_lizard'] }}</td>
            <td>{{ stats['comp_spock'] }}</td>
        </tr>
    </tbody>
</table>
<hr>
<h3 class="text-center">Match History</h3>
<table class="table table-striped .table-hover .table-bordered">  
    <thead>
        <tr>
            <th>Matches</th>
            <th>Wins</th>
            <th>Ties</th>
            <th>Losses</th>
        </tr>
    </thead>  
    <tbody>
        <tr>
            <td><em>{{ matches | length }}</em></td>
            <td><em>{{ stats['wins'] }}</em></td>
            <td><em>{{ stats['ties'] }}</em></td>
            <td><em>{{ stats['losses'] }}</em></td>
        </tr>
    </tbody>
</table>
<br>
<table class="table table-striped .table-hover .table-bordered">
    <thead>    	
	    <tr>
	    	<th>OUTCOME</th>
	    	<th>You Played</th>
	    	<th>Computer Played</th>
	    </tr>
    </thead>
    <tbody>
    	
    {% for match in matches %}
    	<tr>
    		<td>
    			{% if match.userWon %}<span style="color:green;">WIN{% endif %}
    			{% if match.compWon %}<span style="color:red;">LOSS</span>{% endif %}
    			{% if match.userCompTie %}<span>TIE</span>{% endif %}
    		</td>
    		<td>
        		{% if match.userRock == 1 %}
        			<i style="font-size: 20px;" title="ROCK" class="user-rock-icon fa fa-hand-rock-o fa-flip-horizontal"></i>
        		{% elseif match.userPaper == 1 %}
        			<i style="font-size: 20px;"  title="PAPER" class="user-paper-icon fa fa-hand-paper-o fa-flip-horizontal"></i>
        		{% elseif match.userScissors == 1 %}
        			<i style="font-size: 20px;"  title="SCISSORS" class="user-scissors-icon fa fa-hand-scissors-o fa-flip-horizontal"></i>
        		{% elseif match.userLizard == 1 %}
        			<i style="font-size: 20px;"  title="LIZARD" class="user-lizard-icon fa fa-hand-lizard-o fa-flip-horizontal"></i>
        		{% elseif match.userSpock == 1 %}
        			<i style="font-size: 20px;"  title="SPOCK" class="user-spock-icon fa fa-hand-spock-o fa-flip-horizontal"></i>
        		{% endif %}
        	</td>
        	<td>
        		{% if match.compRock == 1 %}
        			<i style="font-size: 20px;" title="ROCK" class="user-rock-icon fa fa-hand-rock-o"></i>
        		{% elseif match.compPaper == 1 %}
        			<i style="font-size: 20px;"  title="PAPER" class="user-paper-icon fa fa-hand-paper-o"></i>
        		{% elseif match.compScissors == 1 %}
        			<i style="font-size: 20px;"  title="SCISSORS" class="user-scissors-icon fa fa-hand-scissors-o"></i>
        		{% elseif match.compLizard == 1 %}
        			<i style="font-size: 20px;"  title="LIZARD" class="user-lizard-icon fa fa-hand-lizard-o"></i>
        		{% elseif match.compSpock == 1 %}
        			<i style="font-size: 20px;"  title="SPOCK" class="user-spock-icon fa fa-hand-spock-o"></i>
        		{% endif %}
        	</td>
    	</tr>        
    {% endfor %}  
    </tbody>  
</table>
{% endif %}