{% if matches|length > 0 %}
<center><p>How many times have each been used in my matches?</p></center>
<table width="100%" border="1">     
    <thead>
        <th>Who</th>
        <th>ROCK</th>
        <th>PAPER</th>
        <th>SCISSORS</th>
        <th>LIZARD</th>
        <th>SPOCK</th>
    </thead> 
    <tbody>    
        <tr>
            <td align="center">YOU</td>
            <td align="center">{{ stats['you_rock'] }}</td>
            <td align="center">{{ stats['you_paper'] }}</td>
            <td align="center">{{ stats['you_scissors'] }}</em></td>
            <td align="center">{{ stats['you_lizard'] }}</td>
            <td align="center">{{ stats['you_spock'] }}</td>
        </tr>
        <tr>
            <td align="center">COMPUTER</td>
            <td align="center">{{ stats['comp_rock'] }}</td>
            <td align="center">{{ stats['comp_paper'] }}</td>
            <td align="center">{{ stats['comp_scissors'] }}</em></td>
            <td align="center">{{ stats['comp_lizard'] }}</td>
            <td align="center">{{ stats['comp_spock'] }}</td>
        </tr>
    </tbody>
</table>
<br>
<center><p>Match History</p></center>
<table width="100%" border="1">    
        <tr>
            <td align="center">Out of <em>{{ matches | length }} Matches</em></td>
            <td align="center">You've Won <em>{{ stats['wins'] }}</em></td>
            <td align="center">You've Tied <em>{{ stats['ties'] }}</em></td>
            <td align="center">You've Lost <em>{{ stats['losses'] }}</em></td>
        </tr>
</table>
<br>
<table width="100%" border="1">
    <thead>    	
	    <tr>
	    	<th>OUTCOME</th>
	    	<th>You Played</th>
	    	<th>Computer Played</th>
	    </tr>
    </thead>
    <tbody>
    	
    {% for match in matches %}
    	<tr>
    		<td align="center">
    			{% if match.userWon %}<span style="color:green;">WIN{% endif %}
    			{% if match.compWon %}<span style="color:red;">LOSS</span>{% endif %}
    			{% if match.userCompTie %}<span>TIE</span>{% endif %}
    		</td>
    		<td align="center">
        		{% if match.userRock == 1 %}
        			ROCK
        		{% elseif match.userPaper == 1 %}
        			PAPER
        		{% elseif match.userScissors == 1 %}
        			SCISSORS
        		{% elseif match.userLizard == 1 %}
        			LIZARD
        		{% elseif match.userSpock == 1 %}
        			SPOCK
        		{% endif %}
        	</td>
        	<td align="center">
        		{% if match.compRock == 1 %}
        			ROCK
        		{% elseif match.compPaper == 1 %}
        			PAPER
        		{% elseif match.compScissors == 1 %}
        			SCISSORS
        		{% elseif match.compLizard == 1 %}
        			LIZARD
        		{% elseif match.compSpock == 1 %}
        			SPOCK
        		{% endif %}
        	</td>
    	</tr>        
    {% endfor %}  
    </tbody>  
</table>
{% endif %}